{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <h3>Log</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Symptom</th>
            <th>Date</th>
            <th>Time</th>
            <th>Severity</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for symptom_data in symptoms %}
            <tr>
                <td>{{ symptom_data[1] }}</td>
                <td>{{ symptom_data[2] }}</td>
                <td>{{ symptom_data[3] }}</td>
                <td>{{ symptom_data[4] }}</td>
                <td>{{ symptom_data[5] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     <form action="/success">
         <input type="submit" value="Back" class="btn btn-primary btn-lg btn-block">
     </form>
</div>
{% endblock %}