{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>Enter symptom information</h3>
    <br>
    <form action="/tracker" method="POST" class="form-inline">
        <h5>Symptom you'd like to track:</h5>
        <select class="form-control" id="symptoms" name="symptoms" required>
            <option value=""></option>
            {% for symptom in symptoms %}
                <option value="{{ symptom }}">{{ symptom }}</option>
            {% endfor %}
        </select>

        <br></br>
        <h5>Date</h5>
        <input type="date" class="form-control" value="" placeholder="date" name="date" required>
        <br></br>
        <h5>Time</h5>
        <input type="time" class="form-control" value="" placeholder="time" name="time" required>
        <h5>Severity (1 to 10)</h5>
        <input type="number" class="form-control" value="5" name="severity" min="1" max="10" required>

        <h5>Notes</h5>
        <input type="textarea" class="form-control" value="" placeholder="(optional) notes..." name="notes">

        <br></br>
        <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
        <br></br>
    </form>

</div>
{% endblock %}